
<!--
<div class="container" *ngIf="imageInput">
    <img class="galleryImage" [src]="loadedImage"/>
    <div class="break"></div>
    <div>{{imageInput.type}}</div>

    <div class="break"></div>

    <div class="break"></div>
    <div *ngIf="appointments.length">
        <table>
            <tr>
                <th>Rendelés típusa</th>
                <th>Név</th>
                <th>Időpont</th>
                <th>Panasz</th>
            </tr>
            <tr *ngFor="let appointment of appointments">
                <td>{{imageInput.type}}</td>
                <td>{{appointment.username}}</td>
                <td>{{appointment.date | dateFormat}}</td>
                <td>{{appointment.comment}}</td>
            </tr>
        </table>
    </div>
    <div class="break"></div>
    <form [formGroup]="appointmentsForm" (ngSubmit)="saveDate()">
        <div>
            <label for="type">Rendelés típusa: </label>
            <input type="text" value={{imageInput.type}}/>
        </div>
        <div class="break"></div>
        <div><label for="username">Név: </label>
            <input type="text" formControlName="username"/>
        </div>
        <div class="break"></div>
        <div>
            <label for="date">Dátum: </label>
            <input type="datetime-local" formControlName="date"/>
        </div>
        <div class="break"></div>
        <div>
            <textarea placeholder="Panasz rövid leírása" rows="10" cols="50" formControlName ="comment"></textarea>
        </div>
        <div class="break"></div>
        <div>
            <button type="submit">Időpont foglalása</button>
        </div>
    </form>
</div>
-->


<div class="div-card" *ngIf="imageInput">
    <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
        <mat-card-header>
            <mat-card-title>
                {{imageInput.id}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <img class="galleryImage" [src]="loadedImage"/>
            <div class="break"></div>
            <!--<div>{{imageInput.type}}</div>-->
            <form [formGroup]="appointmentsForm" (ngSubmit)="deleteAppointment()">
            <div class="center" *ngIf="appointments.length">
                
                <table mat-table>
                    <tr>
                        <th>Rendelés</th>
                        <th>Név</th>
                        <th>Dátum</th>
                        <th>Időpont</th>
                        <th>Panasz</th>
                    </tr>
                    <tr *ngFor="let appointment of appointments">
                        <td>{{appointment.imageId}}</td>
                        <td>{{appointment.username}}</td>
                        <td>{{appointment.date.seconds * 1000 | date:'yyyy-MM-dd'}}</td>
                        <td>{{appointment.time }}</td>
                        <td>{{appointment.comment}}</td>
                        <td><button mat-raised-button color="warn" type="submit" (click)="id = appointment.id">Törlés</button></td>
                        <td><button mat-raised-button color="primary" (click)="getAppointment(appointment.id)">Módosítás</button></td>
                    </tr>
                </table>
            
            </div>
        </form>
    
        </mat-card-content>
        </span>
        <span fxFlex="1 1 50%">
        <mat-card-actions>
            <form [formGroup]="appointmentsForm" (ngSubmit)="saveDate()">
                <div>
                    <mat-form-field>
                        <mat-label for="type">Rendelés típusa: </mat-label>
                        <input matInput type="text" value={{imageInput.id}} readonly/>
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="username">Név: </mat-label>
                        <input matInput type="text" formControlName="username" readonly/>
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="date">Dátum: </mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date"/>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="time">Időpont: </mat-label>
                        <input type="time" matInput formControlName="time">
                     </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="comment">Panasz: </mat-label>
                        <textarea matInput placeholder="Panasz rövid leírása" rows="10" cols="50" formControlName ="comment"></textarea>
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <button mat-raised-button color="primary" type="submit" >Időpont foglalása</button>
                </div>
            </form>
        </mat-card-actions>
        </span>
       
    </mat-card>
    

</div>